.container {
    color: var(--clr-text);
    margin-left: 22rem;
    margin-right: 2.5rem;
}

.coinBox{
    display: flex;
    justify-content: space-between;
}

.symbol{

}

.leftContainer{

}

.topContainer{

}

.bottomContainer{

}
