.container {
    color: var(--clr-text);
    margin-left: 22rem;
    margin-right: 2.5rem;
}

.coinCardList {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.coinCardList::-webkit-scrollbar {
    display: none;
}

.itemMapContainer {
    list-style: none;
    transition: 250ms ease;
    cursor: default;
}

.itemMapContainer:hover {
    transform: translateY(-10px);
    transition: transform 250ms ease;
}

.coinBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    width: 11.8rem;
    margin-right: 1.25rem;
}

.symbol{
    font-size: 1.5rem;
}

.topContainer{
    min-width: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 3.3rem;
}
