.container {
    color: var(--clr-text);
    margin-left: 22rem;
    margin-right: 2.5rem;
}

.coinBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.symbol{

}

.rightContainer{

}

.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
}

.bottomContainer{

}
