.card {
  border-color: "white";
  border-style: solid;
  border-radius: 0.75rem;
  margin: 1rem;
  margin-left: 3rem;
  width: 56rem;
  padding: 1rem;
  padding-top: 0.001rem;
  padding-bottom: 0;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
}
.body {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.3rem;
}
.rocket {
  font-size: 2rem;
}
.stakeBox {
  display: flex;
  align-items: center;
}
.stake {
  font-size: 1.5rem;
}
.footer {
  position: relative;
  bottom: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.username {
  font-size: 1rem;
  font-weight: 100;
  margin-left: .3rem;
}
