.card {
  border-color: "white";
  border-style: solid;
  border-radius: 0.75rem;
  margin: 1rem;
  margin-left: 3rem;
  width: 56rem;
  padding: 1rem;
  padding-top: 0.001rem;
}
.title{
    font-size: 2rem;
}
.body{
    font-size: 1rem;
}
.rocket{
    font-size: 3rem;
}
