.container {
  display: flex;
  flex-direction: column;
  margin-left: 17rem;
  color: var(--clr-text);
}
.backBtn :hover {
  cursor: pointer;
}
.backBtn {
  margin-left: -1rem;
  position: fixed;
  font-size: 3.5rem;;
}

.main {
  font-size: xx-large;
}

.post{
    background: orange;
    position: fixed;
    bottom: 2rem;
    left: 69rem;
    border-radius: 10em;
    display: flex;
    align-items: center;
    width: 9rem;
    height: 3rem;
}
.post h1{
    font-size: 1.5rem;
    align-self: center;
    margin: auto;
}