:root {
    --clr-text: #fff;
    --clr-bg: #18191A;
    --clr-primary: #00A2FF;
    --clr-secondary: #FF9A00;
    --gradient-primary: linear-gradient(180deg, rgba(38,34,80,0.65) 0%, rgba(27,25,66,0.85) 65%, rgba(23,22,59,1) 100%);
    --gradient-logo: linear-gradient(to right bottom, #0048FF 40%, #FF9A00 70%);
    --gradient-btn: linear-gradient(152.64deg, #00A2FF 21.56%, #FF9A00 118.21%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--clr-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
